@font-face {
    font-family: Orator;
    src: url(../img/Orator_med.ttf);
}

body {
    padding: 0;
    margin: 0;
    font-family: Orator, sans-serif;
    background: lightgray;
    font-weight: 100;
    color: white;
}
#main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 800px;
    background: url(../img/wallpaper.jpg) center no-repeat;
    background-size: cover;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}

header, footer {
    display: block;
}

.logo {
    margin: 40px;
    display: inline-block;
    width: 40%;

}

.navbar {
    margin-top: 100px;
    vertical-align: top;
    text-align: right;
    width: 50%;
    display: inline-block;
}

.navbar a {
    color: white;
    margin: 0 10px 0 0;
    padding-top: 5px;
    font-size: 28px;
    text-decoration: none;
}

.navbar a:hover {
    border-top: 2px solid white ;
    border-bottom: 2px solid white;
}

.dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: white;
    border-radius: 50% ;
    border: 1px solid white;
}


.main-titles {
    margin-top: 100px;
    display: block;
    text-align: center;
    color: white;
}


.buttons {
    margin-top: 240px;
    display: block;
}

.lang_button {
    margin: 40px 0 0 20px;
    display: inline-block;
    width: 45%;
}

.scroll_button {
    vertical-align: top;
    display: inline-block;
    width: 8%;
}

.ghost-button {
    padding: 16px 15px 10px 15px;
    font-family: Orator, sans-serif;
    font-size: 25px;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    background: none;
}

.ghost-button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.50);
}

.ghost-button:active {
    box-shadow: none;
}

.ghost-round-button {
    cursor: pointer;
    border: none;
    width: 100%;
    height: 128px;
    background: url('../img/arrow.png') no-repeat;
}

.ghost-round-button:hover {
    background: url('../img/arrow_hover.png') no-repeat;
}

.ghost-round-button:active {
    background: url('../img/arrow.png') no-repeat;
}

#about {
    margin: 0;
    padding: 0;
    height: 800px;
    width: 100%;
    background: #49d1ff;
}

.text_block {
    padding-top: 150px;
    text-align: center;
}

.text_block h2 {
    margin-top: 0;
    font-size: 50pt;
}

.letter {
    background: url('../img/icons/mail.png');
    width: 49px;
    height: 41px;
    display: inline-block;
    line-height: 70px;
    vertical-align: middle;
}

.contact_text {
    display: inline-block;
    vertical-align: text-top
}

.contact_button .ghost-button {
    height: 75px;
    padding: 10px;
    width: 100%;
}

.contact_buttons {
    display: block;
    text-align: center;
    margin-top: 100px;
    height: 80px;
    line-height: 70px;
    vertical-align: middle;
}

.contact_button {
    margin: 0 15px;
    display: inline-block;
    vertical-align: middle;
    /*line-height: 70px;*/
    /*vertical-align: middle;*/
}

.contacts {
    text-align: center;
    margin-top: 60px;
}

.skype {
    margin: 15px;
    display: inline-block;
    background: url('../img/icons/skype.png') no-repeat;
    width: 286px;
    height: 80px;
}

.phone {
    margin: 15px;
    display: inline-block;
    background: url('../img/icons/telephone.png') no-repeat;
    width: 400px;
    height: 80px;
}

.e-mail {
    margin: 15px;
    display: inline-block;
    background: url('../img/icons/e-mail.png') no-repeat;
    width: 497px;
    height: 80px;
}

.cv {
    display: inline-block;
    background: url('../img/icons/cv.png');
    width: 42px;
    height: 54px;
    line-height: 70px;
    vertical-align: middle;
}

#projects {
    background: white;
}

.my_projects {
    display: block;
    height: 120px;
    background-color: #608bc7;
}

.my_projects h1 {
    margin-top: 0;
    font-size: 28pt;
}

.projects_title {
    padding-top: 45px;
    padding-left: 75px;
}

#level_up {
    height: 612px;
    width: 100%;
    background: url('../img/levelup.jpg') center no-repeat;
    background-size: cover;
}

#codeshare {
    height: 424px;
    width: 100%;
    background: url('../img/codeshare.jpg') center no-repeat;
    background-size: cover;
}

.flickr {
    background: url('../img/icons/flickr_but.png');
    width: 64px;
    height: 63px;
    display: inline-block;
    line-height: 70px;
    vertical-align: middle;
}

.github {
    background: url('../img/icons/github_but.png');
    width: 52px;
    height: 50px;
    display: inline-block;
    line-height: 70px;
    vertical-align: middle;
}

.ghost-button-blue {
    padding: 16px 15px 10px 15px;
    font-family: Orator, sans-serif;
    font-size: 25px;
    color: #0079c5;
    border: 3px solid #0079c5;
    border-radius: 10px;
    background: none;
}

.ghost-button-blue:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 5px rgba(0, 121, 197, 0.50);
}

.ghost-button-blue:active {
    box-shadow: none;
}

.title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.title_project {
    padding: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 200px;
}

.level_up_title {
    background: url("../img/levelup-title.png") no-repeat;
    width: 273px;
    height: 171px;
    display: inline-block;
    vertical-align: middle;
}

.level_up_button {
    display: inline-block;
}

.codeshare_button {
    display: inline-block;
}

.codeshare_title {
    background: url("../img/codeshare-title.png") no-repeat;
    width: 469px;
    height: 195px;
    display: inline-block;
    vertical-align: middle;
}

.more_projects {
    display: block;
    text-align: center;
    background: #0079C5;
}

.more_projects .button_more {
    padding: 20px 0;
}

#projects h2 {
    font-size: 35pt;
    margin-top: 0;
}

#keep_in_touch {
    background: url('../img/keep_in_touch.jpg') no-repeat center;
    height: 500px;
    width: 100%;
    background-size: cover;
    text-align: center;
    vertical-align: middle;
}

.links {
    padding-top: 150px;
}

#keep_in_touch h2 {
    margin-top: 0;
    font-size: 40pt;

}

.keep-in-touch-title {
    vertical-align: middle;
}

.keep-in-touch-logos {
    background: url('../img/icons/links-group.png') no-repeat center;
    width: 100%;
    height: 102px;
    vertical-align: middle;
}

#footer {
    height: 50px;
    text-align: center;
    background: white;
    font-size: 20pt;
    color: #56d5ff;
    padding-top: 20px;
    vertical-align: middle;
}